*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    font-size:70%;
    box-sizing: border-box;

}

body {
    font-family: 'Press Start 2P',sans-serif;
    color: #222;
    background-color: pink;
    text-align: center;
}

input {
    background: yellow;
    border: 4px solid #222;
    font-family: inherit;
    padding: 1rem;
    width: 25rem;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
    margin-left:630px;
    margin-top:20px;
}
button {
    padding:3px;
    color:aqua;
    background-color: #222;
    width:5rem;
    margin-right:10px;
    cursor: pointer;
}

 #earth {
    font-size: 25px;
    color :red;
    margin:30px 50px 15px 55px;

}